{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}
  <h1>Hello <em>{{ app.user.nickname }}</em> </h1>
{% endif %}

  <div class="container d-flex justify-content-between">
  {% for product in products %}
  
  {% set add = false %}
  
  {% if app.session.get('cart') is defined and app.session.get('cart') is not empty %}
    
    {% for id,quantity in app.session.get('cart') %}
     
      {% if id == product.id %}
        
        {% set add = true %}
        {% set nb = quantity %}
      
      {% endif %}
    
    {% endfor %}

  {% endif %}
  

    <div class="card" style="width: 18rem;">
       {% if product.medias | length > 0 %}
      <img src="{{ asset('upload/'~product.medias[0].src) }}" width="200" alt="{{ product.title }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
      <h4 class="card-title">{{ product.title }}</h4>
      <h5 class="card-text">{{ product.price }}€</h5>
      {% for tag in product.tags %}
        <span class="card-text">#{{ tag.title }}</span>
      {% endfor %}
    
      <div class="my-2"><a href="{{ url('home_product', {'id' : product.id})}}" class="btn btn-primary">Details</a>
      
      {% if add %}
        <button class="btn btn-warning">Déjà ajouté au panier</button>      
        {% else %}
        
      <a href="{{ url('add_cart', {'id' : product.id, 'target' : 'home'})}}" class="btn btn-warning">Ajouter au panier</a>
            {% endif %}
            </div>
    </div>
  </div> 
  {% endfor %}


{% endblock %}

{% block title %}

{% endblock %}

