{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}

  <h1>Hello <em>{{ app.user.nickname }}</em> </h1>
{% endif %}

<div class="container mb-3 d-flex">
  <img class="card-img-top" src="../img/robe_pull_rouge.webp" alt="Card image cap"">
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <h5 class="card-title">{{ product.price }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">{{ product.category.title }}</p>
        {% for tag in product.tags %}
      <span class="card-text">#{{ tag.title }}</span>
    {% endfor %}</p>
  </div>
</div>

    


{% endblock %}

{% block title %}

{% endblock %}

