{% extends 'backoffice.html.twig' %}

{% block title %}Hello categoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div>{{ form(form) }}</div>

    <div>
    {% if categories | length > 0 %}
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for category in categories %}
    <tr>
      <th scope="row">{{ category.id}}</th>
      <td>{{ category.title }}</td>
      <td>
      <a href="{{ url('admin_category_update', {'id' : category.id})}}" class="btn btn-warning" >Modifier</a>
      <a href="{{ url('admin_category_delete', {'id' : category.id})}}" class="btn btn-danger" onclick= "return confirm('Etes vous sur de supprimer ?')">Supprimer</a></td>
    </tr>
        {% endfor %} 
  </tbody>
</table>
{% else %}
    <p>Aucun category pour l'instant</p>
{% endif %}          
    </div>
</div>
{% endblock %}
